.post-type-archive-colective_society,
.single-colective_society {
  .page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
  }

  .page-header .page-header-content {
    width: 100%;
    text-align: left;
    position: relative;
  }
  .page-header-content h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .page-header .title {
    padding: 90px 0 40px;
    display: block;
    width: 100%;
    color: #009e4a;
    text-align: center;
  }
  .society-layout {
    display: block;
    float: none;
    margin: auto;
    min-width: 320px;
    min-height: 100%;
    max-width: 1260px;
    width: auto;
  }
  .select-container select {
    width: 100%;
    display: block;
    min-height: 42px;
    border-radius: 0;
  }
  select#select-search {
    display: flex;
    justify-content: center;
  }

  .select-container {
    min-width: 100%;
  }

  .colective-content {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
    min-width: 100%;
    min-height: 40vh;
    @media (max-width: 767px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .asipi-colective-society {
    padding-bottom: 110px;
    padding-bottom: 110px;
    min-height: 30vh;
  }
  .descrition-content p {
    text-align: justify;
  }
  .right-side,
  .left-side {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    div#society-loader {
      width: 100%;
      min-width: 100%;
      display: none;
      background-color: rgba(255, 255, 255, 0.6);
      min-height: 50vh;
      .loading {
        display: flex;
        flex-direction: column;
        max-width: 218px;
        margin: auto;
        text-align: center;
        background: no-repeat;
        padding-top: 20%;
        img.loader-circle {
          margin: auto auto 10px;
          max-width: 80px;
          background: none;
        }
        p {
          margin-bottom: 0;
          margin-top: 15px;
          text-align: center;
          font-weight: 700;
          color: #009e4a;
        }
      }
    }
  }
  div#info-content {
    h3 {
      text-align: center;
      font-size: 30px;
      font-weight: 700;
    }
    ol.societies {
      margin: 0;
      padding: 0;
      font-size: 0 !important;
      line-height: 1.5;
      font-weight: 600;
      width: 100%;

      padding: 10px 20px 5px 43px;
      li {
        font-size: 18px !important;
        @media (max-width: 767px) {
          font-size: 16px !important;
        }
        line-height: 1.5;
        font-weight: 600;
        &:hover {
          color: #009e4a;
        }
        padding: 10px 0;
      }
      a {
        color: black;
        font-size: 18px;
        &:hover {
          color: #009e4a;
        }
      }
    }
  }
  .info-success {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    h3 {
      color: #009e4a;
    }
  }
  .info-alert {
    h3 {
      color: #009e4a;
    }
  }
  .contentinfo {
    max-width: 450px;
    padding: 20px;
    ul li {
      list-style: none;
      padding: 5px 4px;
      font-size: 16px;
      line-height: 1.5;
    }
  }
  .right-side.info-subject {
    align-items: flex-start;
  }
  .subject-content {
    font-size: 18px;
    text-align: justify;
    line-height: 1.5;
    padding-top: 20px;
  }
  div#info-content {
    width: 100%;
    height: 100%;
  }
  .info-alert {
    position: relative;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.6);
  }
}
